body {
  background-color: #0F171E;
  color: white;
}
a {
  text-decoration: none;
}
nav a {
  color: white;
  font-size: 20px;
}

.header {
  background-color: inherit;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.list-video-items {
  display: flex;
  list-style-type: none;
}
.link-view-more {
  color: #79B8F3;
}

.link-view-more:hover {
  color: #79B800;
}

.list-video--title {
  color: whitesmoke;
}
.list-video--items {
  display: flex;
  list-style-type: none;
}

.list-video--image {
  width: 268px;
  height: 151px;
}

.main-container {
  margin-top: 3.5rem;
}

.menu-bar {
  padding: 1rem 0.5rem;
}

.slider--series {
  max-width: 100%;
  position: relative;
  width: 100%;
}

.slider--series--button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider--series--image {
  max-width: 100%;
}

